.vscode
.readmes
.idea
client_secret_247644706560-3m78gqn8bp0jh54lnodpcvvf5t4822ar.apps.googleusercontent.com.json
functions/scrapper/__pycache__/google_secrets.cpython-311.pyc
scrape_function.ipynb
resources/links.txt
